.App {
  text-align: center;
}

.h1{
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.tbody{
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}